@model IEnumerable<WebApplication1.Models.BookModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateAndEdit")
</p>
<p>
        @Html.Label("Select genre:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("genre",ViewBag.genre as SelectList, new { @class = "btn btn-default dropdown-toggle form-control", @id = "genre" })
        </div>
</p>
<div id="content"></div>