@model IEnumerable<WebApplication1.Models.AuthorModel>

@{
    ViewBag.Title = "Index";
}

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Create or edit author</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>            
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>
<h2>Index</h2>
<p>
    <a class="btn btn-link" role="button" onclick="editAuthor(0)" data-toggle="modal" data-target="#exampleModalScrollable">Create new</a>
</p>
<div id="authors-content">
    @Html.Partial("ViewAuthors", Model)
</div>